{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.js"></script>

    <!-- Темы -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.2/theme/darcula.min.css">
    <link rel="stylesheet" href="{% static 'codemirror/theme/material-darker.css' %}">

    <!-- Языки -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.2/mode/pascal/pascal.min.js"></script> <!-- Pascal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/python/python.js"></script> <!-- Python -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/clike/clike.min.js"></script> <!-- Java, С++, C#, C -->

    <title>выполняем тут задания мы</title>
</head>
<body>
    <div class="">
        <div class="toolbar">
            <div class="toolbar__container container">
                <div class="toolbar__title">Задание</div>
                <div class="toolbar__tabs">
                    <button class="tablink" data-tab="tab1">Задание</button>
                    <button class="tablink" data-tab="tab2">Выходные данные</button>
                    <button class="tablink" data-tab="tab3">Условия</button>
                
                    <div id="tab1" class="tabcontent">
                        Content for Tab 1
                    </div>
                    <div id="tab2" class="tabcontent">
                        Content for Tab 2
                    </div>
                    <div id="tab3" class="tabcontent">
                        Content for Tab 3
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var editor = CodeMirror.fromTextArea(document.getElementById('code'), {
        theme: 'darcula',
        mode: 'python',
        indentUnit: 4, //Tab
        lineNumbers: true, //Цифекри
    });

    editor.setValue('{{ task.answer_structure }}');

    function changeMode(language) {
        language = language.toLowerCase();
        console.log(language)
        // Обновляем режим в соответствии с выбранным языком
        editor.setOption("mode", language);
    }
</script>
<script src="static/js/app.js">
</script>
</html>