{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <h1>{{ event }}</h1>
    <div class="container p-0 m-0">
        <div class="row">
            <div class="col-2">
                <ul class="list-group">
                    {% for cycletask in tasks %}
                        {% if cycletask.title in results %}
                            <li class="list-group-item list-group-item-dark">{{ cycletask.title }}</li>
                        {% elif cycletask.id == task.id %}
                            <a href="{% url 'event_task' event.title cycletask.title %}">
                                <li class="list-group-item active" aria-current="true">{{ cycletask.title }}</li>
                            </a>  
                        {% else %}
                            <a href="{% url 'event_task' event.title cycletask.title %}">
                                <li class="list-group-item">{{ cycletask.title }}</li> 
                            </a>
                        {% endif %}
                    {% endfor %}

                </ul> 
            </div>
            <div class="col-9">
                <form method="post" action="{% url 'save_task_result' event.title task.title %}">
                    {% csrf_token %}
                    <div class="form-floating">
                        <textarea class="form-control" name="result" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                        <label for="floatingTextarea">{{ task.condition }}</label>
                    </div>
                    <button type="submit" class="btn btn-outline-success">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>