{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>Регистрация</title>
</head>

<body>
    <div class="register">
        <div class="register__card">
            <div class="register__logo">
                <img src="{% static 'img/register/register.png' %}" alt="">
            </div>
            <div class="register__form">
                <form method="post" action="{% url 'registration' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    {% if field.name == 'agree_to_terms' or field.name == 'mailing' %}
                    <div class="register__description">
                        {{ field }} {{ field.label }}
                    </div>
                    {% else %}
                    <div class="register__container">
                        {{field}}
                    </div>
                    {% endif %}
                    {% endfor %}
                    <div class="register__button">
                        <button class="btn" type="submit">
                            Создать аккаунт
                        </button>
                    </div>

                    <div class="register__bottom">
                        <a href="{% url 'login' %}">Войти</a>, если у вас уже есть аккаунт
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>