{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block styles %} {% endblock styles %}
    <title>{{title}}</title>
</head>

<body>
    <header class="header container">
        <div class="header__links">
            <div class=" header__logo">
                <img src="{% static 'base/mainBase/logo.png' %}" alt="">
            </div>
            <div class="header__link">
                <a href="{% url 'catalog'%}">Мероприятия</a>
            </div>
        </div>
        <div class="header__links">
            <div class="header__link">
                <a class="" href="{% url 'logout' %}">
                    Организация
                 </a>
            </div>
            <div class="header__searchContainer">
                <!-- <img src="{% static 'base/mainBase/search.svg' %}" alt=""> -->
                <input class="header__search" type="text" placeholder="Поиск">
                <span>| >_</span>
            </div>
            <div class="header__info">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'profile' user.username %}">
                        {% if user.avatar %}
                        <img src="{{ user.avatar.url }}" class="header__profile" alt="">
                        {% else %}
                            <img src="{% static 'base/mainBase/profile.png' %}" class="header__profile" alt="">
                        {% endif %}
                {% else %}
                    <a href="{% url 'profile' None %}">
                        <img src="{% static 'base/mainBase/profile.png' %}" class="header__profile" alt="">
                    </a>
                {% endif %}
                </a> 
            </div>
        </div>
        <div class="burger-menu-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="burger-menu">
            <div class="burger-content">
                <a class="header__btn" href="#">
                    Профиль
                 </a>
                 <a class="header__btn" href="#">
                    Организация
                 </a>
                 <a class="header__btn" href="#">
                    Конкурсы
                 </a>
            </div>
        </div>
    </header>

    {% block content %} {% endblock content %}

    <footer class="footer">
        <div class="footer__container container">
            {% comment %} <div class="footer__top">
                <div class="footer__lists">
                    <div class="footer__list">
                        <div class="footer__logo">
                            <img src="{% static 'img/Logo.png' %}" alt="">
                            <div class="footer__logoTitle"> <span>Становись лучше</span> приняв вызов </div>
                        </div>
                    </div>
                    <div class="footer__list">
                        <div class="footer__subtitle"> &lt; <span>LIST</span> &gt; Преподаватели</div>
                        <div class="footer__subtitle">Партнёрство</div>
                        <div class="footer__subtitle">Light Тудэ</div>
                    </div>
                    <div class="footer__list">
                        <div class="footer__subtitle"> &lt; <span>LIST</span> &gt; Преподаватели</div>
                        <div class="footer__subtitle">Партнёрство</div>
                        <div class="footer__subtitle">Состав <span>кгпк</span> </div>
                    </div>
                    <div class="footer__list">
                        <div class="footer__subtitle">&lt; <span>LINK</span> &gt; социальные сети &lt;/
                            <span>Link</span> &gt;
                        </div>
                        <div class="footer__subtitle"><span>href</span>=” <span>КГПК</span> II корпус”</div>
                        <div class="footer__subtitle"><span>href</span>=”informatics & ВТ”</div>
                        <div class="footer__subtitle"><span>href</span>=”<span>КГПК</span>trajectory””</div>
                    </div>
                    <div class="footer__list">
                        <div class="footer__subtitle">&lt; <span>pretension</span> : <span>Pretension</span> &gt; КНИГА ЖАЛОБ </div>
                        <div class="footer__subtitle"><span>pretension &lt; Pretension &gt; </span>=[ <br>
                            <span>title</span>="УЖС", <br> <span>about</span>=ПОЛИНЧОКА SCRBBS <br> ]
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}
            <div class="footer__bottom">
                <div class="footer__links">
                    <div class="footer__socials">
                        <div class="footer__social">
                            <a href="/"><img src="{% static 'base/mainBase/socials/tg.svg' %}" alt=""></a>
                        </div>
                        <div class="footer__social">
                            <a href=""><img src="{% static 'base/mainBase/socials/vk.svg' %}" alt=""></a>
                        </div>
                        <div class="footer__social">
                            <a href="https://kg-college.ru/"><img src="{% static 'base/mainBase/socials/kgpk.png' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="footer__link">
                        © 2024 <span>NULL</span>. Все права защищены.
                    </div>
                    <div class="footer__link">
                        MADE IN <span> <a href="https://kg-college.ru/" target="_blank">КГПК</a> </span>
                    </div>
                    <div class="footer__link">
                        Политика коэнфидициальности
                    </div>
                    <div class="footer__link">
                        О нас
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
{% block scripts %} 
    
{% endblock scripts %}
</html>