.container {
  padding: 0 20px;
  max-width: 1700px;
  margin: 0 auto;
}
@media (max-width: 767.98px) {
  .container {
    padding: 0 20px;
  }
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  box-sizing: border-box;
}

body {
  background: #00010B;
  font-family: "Rubik", sans-serif;
}
body._lock {
  overflow: hidden;
}

img {
  max-width: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.btn {
  background: transparent;
  border-radius: 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 10px 30px;
  font-size: 16px;
}

.burger-menu-btn {
  display: none;
  position: relative;
  cursor: pointer;
  z-index: 101;
  color: #5C0089;
}

.burger-content {
  padding: 80px 0px;
}

.burger-menu-btn span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #5C0089;
  margin: 5px 0;
}

.burger-menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 100%;
  height: 100%;
  background-color: rgba(8, 1, 16, 0.9607843137);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  padding: 40px;
  opacity: 0;
  transition: right 0.3s ease, opacity 0.2s ease;
}
.burger-menu .btn {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .headerlist,
  .headerbtns {
    display: none;
  }
  .burger-content {
    text-align: center;
  }
  .burger-menu-btn {
    display: block;
  }
  .burger-menu .header__logo {
    width: 20%;
    position: absolute;
    top: 25px;
    left: 0;
  }
  .burger-menu .btn {
    margin-right: 0;
    width: 100%;
  }
  .burger-menu.show {
    right: 0px;
    opacity: 1;
    transition: right 0.3s ease, opacity 0.3s ease;
  }
}
.register {
  display: flex;
  justify-content: center;
  background: transparent;
}
.register__card {
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 60px 60px 60px;
  border-radius: 5px;
  box-shadow: 0px 0px 50px 1px rgba(255, 255, 255, 0.5);
}
@media (max-width: 360px) {
  .register__card {
    box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.5);
    padding: 0 40px 40px 40px;
  }
}
.register__logo {
  margin: 50px 0;
  text-align: center;
}
.register__form {
  color: white;
}
.register__form input {
  background: transparent;
  color: #ffffff;
}
.register__container {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.register__description {
  width: 80%;
  line-height: 140%;
  font-size: 16px;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .register__description {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .register__description {
    font-size: 12px;
  }
}
.register__checkbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.register__checkbox .register__conf {
  margin-bottom: 10px;
}
.register__checkbox .register__info {
  margin-bottom: 50px;
}
.register__button {
  text-align: center;
  margin-bottom: 40px;
}
.register__button a {
  color: #ffffff;
  padding: 10px 20px;
  background: none;
  border: 1px solid #ffffff;
  margin-bottom: 50px;
}
.register__bottom {
  text-align: center;
}
.register__bottom a {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.register__symbol {
  color: #ffffff;
  font-weight: 900;
  font-size: 24px;
  border: 1px solid #FFD600;
  padding: 5px;
  margin-right: 10px;
}
.register__title {
  font-size: 28px;
  color: #ffffff;
}
.register__title span {
  color: #FFD600;
}

.login {
  display: flex;
  justify-content: center;
  background: transparent;
}
.login__card {
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 60px 60px 60px;
  border-radius: 5px;
  box-shadow: 0px 0px 50px 1px rgba(255, 255, 255, 0.5);
  flex-direction: column;
  justify-content: center;
  display: flex;
  height: 70%;
}
@media (max-width: 360px) {
  .login__card {
    box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.5);
    padding: 0 40px 40px 40px;
  }
}
.login__logo {
  text-align: center;
  margin: 50px 0;
}
.login__form {
  color: white;
}
.login__form input {
  background: transparent;
  color: #ffffff;
}
.login__container {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.login__checkbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.login__checkbox .register__conf {
  margin-bottom: 10px;
}
.login__checkbox .register__info {
  margin-bottom: 50px;
}
.login__button {
  text-align: center;
  margin-bottom: 40px;
}
.login__button button {
  color: #ffffff;
  padding: 10px 40px;
  background: none;
  border: 1px solid #ffffff;
  border-radius: 3px;
}
.login__bottom {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.login__bottom div {
  margin-bottom: 15px;
}
.login__bottom a {
  color: #ffffff;
  text-decoration: underline;
}
.login__banner {
  display: flex;
  background: transparent;
  align-items: center;
  padding: 20px 30px;
  border: 1px solid rgba(255, 255, 255, 0.4666666667);
  border-radius: 5px;
  margin: 0 20px;
}
.login__symbol {
  color: #ffffff;
  font-weight: 900;
  font-size: 24px;
  border: 1px solid #FFD600;
  padding: 5px;
  margin-right: 10px;
}
.login__title {
  font-size: 28px;
  color: #ffffff;
}
.login__title span {
  color: #FFD600;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.0901960784);
}
.header__logo img {
  width: 50%;
}
.header__list {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .header__list .header__link {
    display: none;
  }
}
.header__link {
  color: #AEAEAE;
  margin-right: 10px;
}
.header__link span {
  color: #5C0089;
}
@media (max-width: 768px) {
  .header__btns {
    display: none;
  }
}
.header__loginBtn {
  margin-right: 20px;
  background: transparent;
}
.header__regBtn {
  border-color: #5C0089;
}

.intro {
  background-image: url("bg/bg.png");
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 20%;
  padding-bottom: 100px;
  text-align: center;
}
.intro__container {
  padding: 50px 0;
}
.intro__title {
  font-size: 72px;
  margin-bottom: 20px;
  color: #ffffff;
}
@media (max-width: 1024px) {
  .intro__title {
    font-size: 62px;
  }
}
@media (max-width: 768px) {
  .intro__title {
    font-size: 54px;
  }
}
@media (max-width: 768px) {
  .intro__title {
    font-size: 42px;
  }
}
@media (max-width: 375px) {
  .intro__title {
    font-size: 36px;
  }
}
.intro__title span {
  color: #6E348A;
}
.intro__description {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 40px;
  line-height: 130%;
}
@media (max-width: 1024px) {
  .intro__description {
    font-size: 20px;
    padding: 0 50px;
  }
}
@media (max-width: 768px) {
  .intro__description {
    font-size: 16px;
    padding: 0 15px;
  }
}
@media (max-width: 375px) {
  .intro__description {
    font-size: 14px;
    padding: 0 10px;
  }
}
.intro__btn button {
  background: #5C0089;
  border: none;
  padding: 15px 40px;
}
@media (max-width: 768px) {
  .intro__btn button {
    padding: 15px 30px;
    font-size: 14px;
  }
}

.hardSkills {
  padding: 0 20px;
}
.hardSkills__container {
  background: linear-gradient(180deg, rgba(92, 0, 137, 0.27) 8%, rgba(92, 0, 137, 0.19) 46.5%, rgba(92, 0, 137, 0.14) 71.5%, rgba(70, 13, 97, 0) 89%);
  box-shadow: 0px 0px 70px 20px #5C0089;
  border-radius: 10px;
  padding: 50px;
  font-size: 32px;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}
@media (max-width: 1200px) {
  .hardSkills__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
  }
}
@media (max-width: 600px) {
  .hardSkills__container {
    padding: 30px;
  }
}
.hardSkills__container div:first-child {
  margin-bottom: 30px;
  flex: 0 0 50%;
}
.hardSkills__container div:last-child {
  flex: 0 0 50%;
}
@media (max-width: 1200px) {
  .hardSkills__img {
    display: none;
  }
}
.hardSkills__img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.hardSkills__title {
  color: #ffffff;
  margin-bottom: 30px;
  font-size: 36px;
}
@media (max-width: 600px) {
  .hardSkills__title {
    font-size: 28px;
  }
}
.hardSkills__title span {
  color: #5C0089;
}
.hardSkills__description {
  margin-bottom: 40px;
  color: #ffffff;
  line-height: 150%;
  font-size: 18px;
  width: 70%;
}
@media (max-width: 600px) {
  .hardSkills__description {
    font-size: 14px;
  }
}
@media (max-width: 1200px) {
  .hardSkills__description {
    width: auto;
  }
}
.hardSkills__btn span {
  color: #5C0089;
}

.blocks__container {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  margin-bottom: 100px;
}
@media (max-width: 1024px) {
  .blocks__container {
    flex-direction: column;
  }
}
.blocks__soft {
  box-shadow: 0px 0px 30px 0px #FFD600;
  border-radius: 20px;
  flex: 0 0 40%;
}
@media (max-width: 1024px) {
  .blocks__soft:not(:last-child) {
    margin-bottom: 30px;
  }
}
.blocks__soft__content {
  padding: 30px 30px 30px 30px;
}
.blocks__soft__title {
  font-size: 28px;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .blocks__soft__title {
    text-align: center;
    font-size: 42px;
  }
}
@media (max-width: 768px) {
  .blocks__soft__title {
    font-size: 32px;
  }
}
.blocks__soft__title span {
  color: #FFD600;
}
.blocks__soft__description {
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 50px;
  width: 80%;
}
@media (max-width: 1024px) {
  .blocks__soft__description {
    width: auto;
    text-align: center;
    font-size: 20px;
  }
}
.blocks__soft__img {
  text-align: center;
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .blocks__soft__img {
    padding: 0 120px;
  }
}
@media (max-width: 600px) {
  .blocks__soft__img {
    display: none;
  }
}
.blocks__soft__logo {
  padding: 8px;
  border: 1px solid #FFD600;
  margin-bottom: 50px;
}
.blocks__soft__quote {
  text-align: right;
  font-size: 24px;
}
.blocks__soft__quote span {
  color: #FFD600;
  font-size: 18px;
}
.blocks__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 57%;
}
.blocks__right__content {
  padding: 150px 50px 200px 50px;
}
.blocks__currency {
  box-shadow: 0px 0px 30px 0px #FFF;
  border-radius: 20px;
  margin-bottom: 20px;
}
.blocks__currency__title {
  font-size: 28px;
  margin-bottom: 50px;
}
.blocks__currency__description {
  font-size: 16px;
  line-height: 130%;
  width: 80%;
}
.blocks .blocks__world {
  box-shadow: 0px 0px 30px 5px #5C0089;
  border-radius: 20px;
  background: url("bg/bgworld.png");
  background-repeat: no-repeat;
  background-position: 50px center;
  background-size: contain;
}
.blocks .blocks__world__content {
  padding: 30px;
}
@media (max-width: 1024px) {
  .blocks .blocks__world__content {
    text-align: center;
    font-size: 42px;
  }
}
@media (max-width: 768px) {
  .blocks .blocks__world__content {
    font-size: 32px;
  }
}
.blocks .blocks__world__content span {
  color: #FFD600;
}
.blocks .blocks__world__title {
  font-size: 28px;
  margin-bottom: 30px;
  text-transform: uppercase;
  line-height: 130%;
}
.blocks .blocks__world__description {
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 50px;
  width: 80%;
}
@media (max-width: 1024px) {
  .blocks .blocks__world__description {
    text-align: center;
    font-size: 20px;
    width: auto;
  }
}

.blocks__world {
  box-shadow: 0px 0px 30px 5px #5C0089;
  border-radius: 20px;
}
.blocks__world__content {
  padding: 30px;
}
@media (max-width: 1024px) {
  .blocks__world__content {
    text-align: center;
    font-size: 42px;
  }
}
@media (max-width: 768px) {
  .blocks__world__content {
    font-size: 32px;
  }
}
.blocks__world__content span {
  color: #FFD600;
}
.blocks__world__title {
  font-size: 28px;
  margin-bottom: 30px;
}
.blocks__world__description {
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 50px;
}
@media (max-width: 1024px) {
  .blocks__world__description {
    text-align: center;
    font-size: 20px;
  }
}

.footer__container {
  border-top: 1px solid rgba(255, 255, 255, 0.107);
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .footer__container {
    border-top: none;
  }
}
.footer__top {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.107);
}
.footer__logo {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
}
.footer__logo span {
  color: #5C0089;
}
.footer__logo img {
  width: 30%;
}
.footer__logoTitle {
  font-size: 18px;
  width: 50%;
}
.footer__lists {
  display: flex;
  justify-content: space-between;
  color: #949494;
  align-items: top;
}
@media (max-width: 1200px) {
  .footer__lists {
    display: none;
  }
}
.footer__list:not(:last-child) {
  text-align: center;
}
.footer__list:last-child .footer__subtitle {
  line-height: 130%;
}
@media (max-width: 1500px) {
  .footer__list:last-child .footer__subtitle {
    display: none;
  }
}
.footer__list:last-child .footer__subtitle:last-child span:nth-child(n+2):nth-child(-n+5) {
  margin-left: 20px;
}
.footer__subtitle {
  font-size: 16px;
  margin-bottom: 20px;
}
.footer__subtitle:first-child {
  color: #ffffff;
  text-transform: uppercase;
}
.footer__subtitle span {
  color: #5C0089;
}
.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
@media (max-width: 768px) {
  .footer__links {
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.footer__socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__social {
  width: 40px;
}
.footer__social:not(:last-child) {
  margin-right: 20px;
}
.footer__social:nth-child(2) {
  width: 45px;
}
.footer__link {
  font-size: 18px;
}
@media (max-width: 1024px) {
  .footer__link {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .footer__link:nth-child(3) {
    display: none;
  }
}
@media (max-width: 768px) {
  .footer__link {
    flex: 0 0 50%;
    margin-bottom: 10px;
  }
}
@media (max-width: 425px) {
  .footer__link {
    flex: 0 0 100%;
  }
}
.footer__link:nth-child(n+4) {
  color: #949494;
}
.footer__link span {
  color: #5C0089;
}/*# sourceMappingURL=styles.css.map */