{% extends 'base/authBase.html' %} 
{% load static %}

{% block form %}
    <form method="post" action="{% url 'registration' %}" enctype="multipart/form-data">
        {% csrf_token %}
    {% for field in form %}
        {% if field.name == 'agree_to_terms' or field.name == 'mailing' %}
            <div class="register__description">
                {{ field }} {{ field.label }}
            </div>
        {% else %}
            <div class="login__container">
                {{field}}
            </div>
        {% endif %}
    {% endfor %}
        <div class="login__button">
            <button class="btn" type="submit">
                Создать аккаунт
            </button>
        </div>
        <div class="register__bottom">
            <a href="{% url 'login' %}">Войти</a>, если у вас уже есть аккаунт
        </div>
    </form>
{% endblock form %}
