{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Contests</title>
</head>
<body>

     <header class="header container">
        <div class="header__link header__logo">
            <img src="{% static 'img/index/logo.png' %}" alt="">
        </div>
        <div class="header__btns">
            <a class="header__btn" href="#">
               Организация
            </a>
            <div class="header__searchContainer">
                <img src="{% static 'img/Contests/search.svg' %}" alt="">
                <input class="header__search" type="text" placeholder="Поиск">
                <span>| >_</span>
            </div>
            <div class="header__info">
             
                <img src="{% static 'img/index/logo.png' %}" class="header__profile" alt="">
               
            </div>
        </div>
        <div class="burger-menu-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="burger-menu">
            <div class="burger-content">
                <a class="header__btn" href="#">
                    Организация
                 </a>
                 <div class="header__searchContainer">
                     <img src="{% static 'img/Contests/search.svg' %}" alt="">
                     <input class="header__search" type="text" placeholder="Поиск">
                     <span>| >_</span>
                 </div>
                 <a href="#">
                   
                     <img src="{% static 'img/index/logo.png' %}" class="header__profile" alt="">
                    
                  </a>
            </div>
        </div>
    </header>
    <div class="eventNav">
        
    </div>  
</body>

<script src="static/js/app.js"></script>

</html>