{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Contests</title>
</head>

<body>

    <header class="header container">
        <div class="header__link header__logo">
            <img src="{% static 'img/index/logo.png' %}" alt="">
        </div>
        <div class="header__btns">
            <a class="header__btn" href="#">
               Организация
            </a>
            <div class="header__searchContainer">
                <img src="{% static 'img/Contests/search.svg' %}" alt="">
                <input class="header__search" type="text" placeholder="Поиск">
                <span>| >_</span>
            </div>
            <div class="header__info">

                <img src="{% static 'img/index/logo.png' %}" class="header__profile" alt="">

            </div>
        </div>
        <div class="burger-menu-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="burger-menu">
            <div class="burger-content">
                <a class="header__btn" href="#">
                    Организация
                 </a>
                <div class="header__searchContainer">
                    <img src="{% static 'img/Contests/search.svg' %}" alt="">
                    <input class="header__search" type="text" placeholder="Поиск">
                    <span>| >_</span>
                </div>
                <a href="#">

                    <img src="{% static 'img/index/logo.png' %}" class="header__profile" alt="">

                </a>
            </div>
        </div>
    </header>
    <div class="eventNav container">
        <div class="eventNav__search">
            <img src="static\img\contests\search.svg" alt="">
            <input type="text" placeholder="Название мероприятия или автор" class="eventNav__input">
        </div>  
        <div class="eventNav__mark">
            <label>Активные</label>
            <input type="checkbox">
        </div>
        <div class="eventNav__list">
            Любое направление ⭣
        </div>
        <div class="eventNav__mark">
            <label>Активные</label>
            <input type="checkbox">
        </div>
        <button class="eventNav__btn btn">
            Искать
        </button>
    </div>

    <div class="events">
        <div class="events__container container">
            <div class="events__title">Мероприятия</div>
            <div class="events__statuses">
                <div class="events__status active-status">Все мероприятия</div>
                <div class="events__status">Зарегистрированные</div>
                <div class="events__status">Ближайшие</div>
                <div class="events__status">В этом месяце</div>
            </div>
            <div class="eventCards">
                <div class="eventCards__card">
                    <div class="eventCards__content">
                        <div class="eventCards__info">
                            <div class="eventCards__title">
                                Заголовок
                            </div>
                            <div class="eventCards__description">
                                Описание
                            </div>
                        </div>
                        <div class="eventCards__img">
                            <img src="static\img\contests\profile.png" alt="">
                        </div>
                    </div>
                    <div class="eventCards__content">
                        <div class="eventCards__tags">
                            Python
                            PySnake
                        </div>
                        <div class="eventCards__data">
                            <div class="eventCards__score">230 очков</div>
                            <div class="eventCards__lvl">7LV</div>
                        </div>
                    </div>
                    <div class="eventCards__btn">
                        <button class="btn">Участвовать</button>
                    </div>
                    <div class="eventCards__stat">
                        <div class="eventCards__count">100</div>
                        <div class="eventCards__role">Организатор</div>
                    </div>
                </div>
                <div class="eventCards__card">
                    <div class="eventCards__content">
                        <div class="eventCards__info">
                            <div class="eventCards__title">
                                Заголовок
                            </div>
                            <div class="eventCards__description">
                                Описание
                            </div>
                        </div>
                        <div class="eventCards__img">
                            <img src="static\img\contests\profile.png" alt="">
                        </div>
                    </div>
                    <div class="eventCards__content">
                        <div class="eventCards__tags">
                            Python
                            PySnake
                        </div>
                        <div class="eventCards__data">
                            <div class="eventCards__score">230 очков</div>
                            <div class="eventCards__lvl">7LV</div>
                        </div>
                    </div>
                    <div class="eventCards__btn">
                        <button class="btn">Участвовать</button>
                    </div>
                    <div class="eventCards__stat">
                        <div class="eventCards__count">100</div>
                        <div class="eventCards__role">Организатор</div>
                    </div>
                </div>
                <div class="eventCards__card">
                    <div class="eventCards__content">
                        <div class="eventCards__info">
                            <div class="eventCards__title">
                                Заголовок
                            </div>
                            <div class="eventCards__description">
                                Описание
                            </div>
                        </div>
                        <div class="eventCards__img">
                            <img src="static\img\contests\profile.png" alt="">
                        </div>
                    </div>
                    <div class="eventCards__content">
                        <div class="eventCards__tags">
                            Python
                            PySnake
                        </div>
                        <div class="eventCards__data">
                            <div class="eventCards__score">230 очков</div>
                            <div class="eventCards__lvl">7LV</div>
                        </div>
                    </div>
                    <div class="eventCards__btn">
                        <button class="btn">Участвовать</button>
                    </div>
                    <div class="eventCards__stat">
                        <div class="eventCards__count">100</div>
                        <div class="eventCards__role">Организатор</div>
                    </div>
                </div>
                <div class="eventCards__card">
                    <div class="eventCards__content">
                        <div class="eventCards__info">
                            <div class="eventCards__title">
                                Заголовок
                            </div>
                            <div class="eventCards__description">
                                Описание
                            </div>
                        </div>
                        <div class="eventCards__img">
                            <img src="static\img\contests\profile.png" alt="">
                        </div>
                    </div>
                    <div class="eventCards__content">
                        <div class="eventCards__tags">
                            Python
                            PySnake
                        </div>
                        <div class="eventCards__data">
                            <div class="eventCards__score">230 очков</div>
                            <div class="eventCards__lvl">7LV</div>
                        </div>
                    </div>
                    <div class="eventCards__btn">
                        <button class="btn">Участвовать</button>
                    </div>
                    <div class="eventCards__stat">
                        <div class="eventCards__count">100</div>
                        <div class="eventCards__role">Организатор</div>
                    </div>
                </div>
            </div>
            <div class="populars container">
                <div class="populars__name">Часто ищут</div>
                <div class="populars__cards">
                    <div class="populars__card">
                        <div class="populars__top">
                            <div class="populars__title">Python</div>
                            <img src="static\img\contests\profile.png" class="populars__img">
                        </div>
                        <div class="populars__subtitle">Программирование</div>
                    </div>
                    <div class="populars__card">
                        <div class="populars__top">
                            <div class="populars__title">Python</div>
                            <img src="static\img\contests\profile.png" class="populars__img">
                        </div>
                        <div class="populars__subtitle">Программирование</div>
                    </div>
                    <div class="populars__card">
                        <div class="populars__top">
                            <div class="populars__title">Python</div>
                            <img src="static\img\contests\profile.png" class="populars__img">
                        </div>
                        <div class="populars__subtitle">Программирование</div>
                    </div>
                    <div class="populars__card">
                        <div class="populars__top">
                            <div class="populars__title">Python</div>
                            <img src="static\img\contests\profile.png" class="populars__img">
                        </div>
                        <div class="populars__subtitle">Программирование</div>
                    </div>
                    <div class="populars__card">
                        <div class="populars__top">
                            <div class="populars__title">Python</div>
                            <img src="static\img\contests\profile.png" class="populars__img">
                        </div>
                        <div class="populars__subtitle">Программирование</div>
                    </div>
                    <div class="populars__card">
                        <div class="populars__top">
                            <div class="populars__title">Python</div>
                            <img src="static\img\contests\profile.png" class="populars__img">
                        </div>
                        <div class="populars__subtitle">Программирование</div>
                    </div>
                    <div class="populars__card">
                        <div class="populars__top">
                            <div class="populars__title">Python</div>
                            <img src="static\img\contests\profile.png" class="populars__img">
                        </div>
                        <div class="populars__subtitle">Программирование</div>
                    </div>
                    <div class="populars__card">
                        <div class="populars__top">
                            <div class="populars__title">Python</div>
                            <img src="static\img\contests\profile.png" class="populars__img">
                        </div>
                        <div class="populars__subtitle">Программирование</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="static/js/app.js"></script>

</html>