{% extends 'base/mainBase.html' %} 
{% load static %}

{% block content %}
<main>
    <div class="profile container">
        <div class="profile__data">
            <div class="profile__avatar">
                {% if user.photo %}
                    <input type="file" id="fileInput" style="display:none;">
                    <label for="fileInput" class="file-label">
                        <img src="{{ user.photo.url }}" alt="" class="profile__img">
                    </label>
                {% else %}
                    <input type="file" id="fileInput" style="display:none;">
                    <label for="fileInput" class="file-label">
                        <img src="{% static "img/profile.png" %}" class="profile__img" alt="">
                    </label>
                {% endif %}
            </div>
            <div class="profile__name"> <span>@</span>{{user.full_name}}</div>  
            <div class="profile__email">{{user.email}}</div>  
            <div class="profile__btns">
                <button class="profile__btn btn" id="profile-edit">Редактировать профиль</button>
                <a href="{% url 'logout' %}" class="profile__btn btn">Выйти</a>
            </div>
        </div>
        <div class="profileCards">
            <div class="profileCards__suptitle">Расписание</div>
            <div class="profileCards__container">
                <div class="profileCards__card">
                    <div class="profileCards__info">
                        <div class="profileCards__title">Заголовок</div>
                        <div class="profileCards__direct">Направление</div>    
                    </div>
                    <img class="profileCards_img" src="{% static "img/profile.png" %}" alt="">
                </div>
                <div class="profileCards__card">
                    <div class="profileCards__info">
                        <div class="profileCards__title">Заголовок</div>
                        <div class="profileCards__direct">Направление</div>    
                    </div>
                    <img class="profileCards_img" src="{% static "img/profile.png" %}" alt="">
                </div>
                <div class="profileCards__card">
                    <div class="profileCards__info">
                        <div class="profileCards__title">Заголовок</div>
                        <div class="profileCards__direct">Направление</div>    
                    </div>
                    <img class="profileCards_img" src="{% static "img/profile.png" %}" alt="">
                </div>
                <div class="profileCards__card">
                    <div class="profileCards__info">
                        <div class="profileCards__title">Заголовок</div>
                        <div class="profileCards__direct">Направление</div>    
                    </div>
                    <img class="profileCards_img" src="{% static "img/profile.png" %}" alt="">
                </div>
         </div>
        </div>
        <div class="profileEdit">
            <div class="profileEdit__title">
                Редактирование профиля
            </div>
            <div class="profileEdit__inputs">
                <div class="profileEdit__input profileEdit__name">
                    <div >Полное имя</div>
                    <input placeholder="Имя" type="text">
                </div>
                <div class="profileEdit__input profileEdit__nickname">
                    <div >Никнейм</div>
                    <input placeholder="Никнейм" type="text">
                </div>
                <div class="profileEdit__input profileEdit__email">
                    <div>Email</div>
                    <input placeholder="null@gmail.com" type="email">
                </div>
                <div class="profileEdit__input profileEdit__number">
                    <div>Номер</div>
                    <input placeholder="+71234567890" type="number">
                </div>
                <div class="profileEdit__input profileEdit__password">
                    <div>Пароль</div>
                    <input placeholder="********" type="password">
                </div>
                <div class="profileEdit__input profileEdit__password">
                    <div>Поавтор пароля</div>
                    <input placeholder="********" type="password">
                </div>
            </div>
            <div class="profileEdit__save">
                <button class="btn">Применить</button>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const fileInput = document.getElementById('fileInput');
        fileInput.addEventListener('change', handleFileSelect);

        function handleFileSelect(event) {
            const file = event.target.files[0];
            if (file) {
                const formData = new FormData();
                formData.append('file', file);

                const xhr = new XMLHttpRequest();
                xhr.open('POST', '/upload_avatar/', true);
                xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));

                xhr.onload = function () {
                    if (xhr.status === 200) {
                        const responseData = JSON.parse(xhr.responseText);
                        console.log(responseData.url);

                        // Обновляем изображение в интерфейсе
                        const profileImage = document.querySelector('.profile__img');
                        profileImage.src = responseData.url;

                        const navbarProfileImage = document.querySelector('.header__profile');
                        navbarProfileImage.src = responseData.url;
                    } else {
                        console.error('Error:', xhr.statusText);
                    }
                };

                xhr.send(formData);
            }
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.startsWith(name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    });
</script>
<script>
   
    const profileEditButton = document.getElementById('profile-edit');
    const profileCardsBlock = document.querySelector('.profileCards');
    const profileEditBlock = document.querySelector('.profileEdit');

    const profileSaveButton = document.querySelector('.profileEdit__save');

    profileEditButton.addEventListener('click', function() {
        profileCardsBlock.style.transition = "opacity 0.5s";
        profileCardsBlock.style.opacity = 0;

        setTimeout(function() {
            profileCardsBlock.style.display = "none";
        }, 500);
       
        profileEditBlock.style.transition = "opacity 0.5s";
        profileEditBlock.style.opacity = 1;
        setTimeout(function() {
            profileEditBlock.style.display = "block";
        }, 500);
    });

    profileSaveButton.addEventListener('click', function() {
        profileEditBlock.style.transition = "opacity 0.5s";
        profileEditBlock.style.opacity = 0;

        setTimeout(function() {
            profileEditBlock.style.display = "none";
        }, 500); 
       
        profileCardsBlock.style.transition = "opacity 0.5s";
        profileCardsBlock.style.opacity = 1;
        setTimeout(function() {
            profileCardsBlock.style.display = "block";

        }, 500);
    });

</script>
<script src="{% static 'app.js' %}"></script>
{% endblock scripts %}


